<!DOCTYPE html>
<html ng-app="<%= app%>">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/vendor/bootstrap.custo.css">
        <link rel="stylesheet" href="/css/style.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <!--<link href="http://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet" type="text/css">-->
        <!--<link href="/css/vendor/font-awesome.css" rel="stylesheet">-->
        <link href="/css/vendor/fonts.css" rel="stylesheet" type="text/css">
        <%-stylesheets%>
    </head>
    <body>
            <!-- NAV BAR -->
            <nav class="navbar navbar-default" role="navigation" style="margin-bottom:0">
                <div class="navbar-header">
                    <!-- SEARCH BUTTON FOR XS SCREENS -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i style="color:#777777" class="icon-search icon-large"></i>
                    </button>
                    <!-- APP TITLE -->
                    <a class="navbar-brand" href="/" style="font-family: 'Grand Hotel', cursive;font-size:2em;">Spotly</a>
                    <!-- MENU LINKS FOR XS SCREENS -->
                    <ul class="nav navbar-nav visible-xs pull-right" id="navbar-xs">
                        <li><a href="/#">Sign In</a></li>
                        <form class="navbar-form navbar-left" role="signup">
                            <button type="submit" class="btn btn-success">Sign Up</button>
                        </form>
                    </ul>
                </div>

                <!-- NAV BAR FOR SMALL, MEDIUM & LARGE SCREENS -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                   
                    <!-- MENU LINKS FOR MEDIUM & LARGE SCREENS -->
                    <ul class="pull-right nav navbar-nav visible-lg visible-md">
                        <li><a href="/#">Sign In</a></li>
                        <form class="navbar-form navbar-left" role="signup">
                            <button type="submit" class="btn btn-success">Sign Up</button>
                        </form>
                    </ul>
                    <!-- MENU LINKS FOR SMALL SCREENS -->
                    <ul class="pull-right nav navbar-nav visible-sm">
                        <li><a href="/#">Sign In</a></li>
                        <form class="navbar-form navbar-left" role="signup">
                            <button type="submit" class="btn btn-success">Sign Up</button>
                        </form>
                    </ul>
                </div>
            </nav>

            <!-- MAIN CONTENT -->
            <div id="main">
                <%- body %>
            </div>

           
        <!-- Vendor libs -->
        <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>       -->
        <script src="/js/vendor/jquery.min.js"></script>
        <script src="/js/vendor/bootstrap.min.js"></script>       

        <%-scripts%>
            
    </body>
</html>

